<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  
<ion-header>
  <ion-toolbar>
    <ion-title> Grocery List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-title> Akilah Murphy -- Student ID: 1011994 </ion-title>
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Milk</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bread</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Eggs</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pasta sauce</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pasta noodles</ion-label>
    </ion-item>
  </ion-list>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
