<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  
<ion-header>
  <ion-toolbar>
    <ion-title> About Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-title> Akilah Murphy -- Student ID: 1011994 </ion-title>
    <ion-toolbar>
      <ion-title size="large">About Page</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <app-explore-container name="About page"></app-explore-container>
</ion-content>


  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
